build
dist
*.egg-info
**/__pycache__/
*.log
**/*.lic
.vscode
.idea
.editorconfig
.DS_Store
**/*.pyc
./berkeley-function-call-leaderboard/function_credential_config.json
./berkeley-function-call-leaderboard/eval_checker/tree-sitter-java
./berkeley-function-call-leaderboard/eval_checker/tree-sitter-javascript