requests==2.32.3
tqdm==4.66.4
torch==2.4.0
ray==2.32.0
shortuuid==1.0.13
mistralai==0.4.2
anthropic==0.31.1
openai==1.35.13
numpy==1.26.4
cohere==5.5.8
tree_sitter==0.21.3
tree-sitter-java==0.21.0
tree-sitter-javascript==0.21.4

# vllm==0.5.4
# sglang==0.2.13