* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #080808;
    color: #fff;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.btn-secondary {
    display: block;
    margin: 15px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}
/* ---------contact-------- */
.btn-secondary.btn-secondary2 {
    display: inline-block;
    background: #ff004f;
}
.btn-secondary.btn-secondary2 {
    display: inline-block;
    background: #ff004f;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #f0f7ff;
    padding: 15px;
    margin: 15px 0;
    color: #ababab;
    font-size: 18px;
    border-radius: 6px;
}
form .btn-secondary2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}