#leaderboard tbody tr:nth-child(1) {
    background-color: #fff176;
    /* Lightest yellow for rank 1 */
}

#leaderboard tbody tr:nth-child(2) {
    background-color: #fff59d;
    /* Medium yellow for rank 2 */
}

#leaderboard tbody tr:nth-child(3) {
    background-color: #fff9c4;
    /* Darker yellow for rank 3 */
}

#leaderboard td:nth-child(2) {
    background-color: #7efd7e;
}

#leaderboard td:nth-child(4) {
    background-color: #ff9999;
}

#leaderboard td:nth-child(5),
#leaderboard td:nth-child(6),
#leaderboard td:nth-child(7) {
    background-color: #9eb3ff;
}

#leaderboard td:nth-child(8),
#leaderboard td:nth-child(9),
#leaderboard td:nth-child(10),
#leaderboard td:nth-child(11),
#leaderboard td:nth-child(12) {
    background-color: #97e5b8;
}

#leaderboard td:nth-child(13),
#leaderboard td:nth-child(14),
#leaderboard td:nth-child(15),
#leaderboard td:nth-child(16),
#leaderboard td:nth-child(17) {
    background-color: #7dd9e8;
}

#leaderboard td:nth-child(18),
#leaderboard td:nth-child(19),
#leaderboard td:nth-child(20),
#leaderboard td:nth-child(21),
#leaderboard td:nth-child(22) {
    background-color: #ffd97a;
}

#leaderboard td:nth-child(23),
#leaderboard td:nth-child(24),
#leaderboard td:nth-child(25),
#leaderboard td:nth-child(26),
#leaderboard td:nth-child(27),
#leaderboard td:nth-child(28),
#leaderboard td:nth-child(29){
    background-color: #d9a8ff;
}

#leaderboard td:nth-child(30),
#leaderboard td:nth-child(31){
    background-color: #ffb8d1;
}

#leaderboard td:nth-child(32),
#leaderboard td:nth-child(33){
    background-color: #ffcba4;
}