#leaderboard {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard th,
#leaderboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#leaderboard tbody tr:nth-child(1) {
    background-color: #fff176;
    /* Lightest yellow for rank 1 */
}

#leaderboard tbody tr:nth-child(2) {
    background-color: #fff59d;
    /* Medium yellow for rank 2 */
}

#leaderboard tbody tr:nth-child(3) {
    background-color: #fff9c4;
    /* Darker yellow for rank 3 */
}

#leaderboard td:nth-child(2) {
    background-color: #7efd7e;
}

#leaderboard td:nth-child(4) {
    background-color: #d8787b;
}

#leaderboard td:nth-child(5) {
    background-color: #8f8fff;
}

#leaderboard td:nth-child(6) {
    background-color: #75f1ff;
}

#leaderboard td:nth-child(7) {
    background-color: #88ffc4;
}

#leaderboard td:nth-child(8) {
    background-color: #ffdf75;
}

#leaderboard td:nth-child(9) {
    background-color: #d8787b;
}

#leaderboard td:nth-child(10),
#leaderboard td:nth-child(11),
#leaderboard td:nth-child(12) {
    background-color: #8f8fff;
}


#leaderboard td:nth-child(13),
#leaderboard td:nth-child(14),
#leaderboard td:nth-child(15),
#leaderboard td:nth-child(16) {
    background-color: #75f1ff;
}


#leaderboard td:nth-child(17),
#leaderboard td:nth-child(18),
#leaderboard td:nth-child(19),
#leaderboard td:nth-child(20) {
    background-color: #88ffc4;
}

#leaderboard td:nth-child(21) {
    background-color: #ffdf75;
}


/* Ensure the table uses the full width of its container */
table {
    table-layout: auto;
    border-collapse: collapse; 
    width: auto; /* Allows the table to expand naturally based on content */
    border-collapse: collapse;
    table-layout: auto; /* Default layout for the table */
    align-items: center;
    justify-content: center;
}



#leaderboard td, #leaderboard th {
    word-wrap: break-word; /* Allows words to break and wrap to the next line */
    overflow-wrap: break-word; /* Ensures wrapping at break points */
    padding: 8px; /* Adjust padding as needed */
    text-align: center; /* Keeps text centered, adjust as needed */
    border: 1px solid #ddd; 
}


th:not(.detail-header)  {
    cursor: pointer;
}



.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
    width: 100%; /* Full width of the parent */
    max-width: 100%; /* Ensure the container does not exceed the width of the parent */
    max-height: 600px; /* Set the maximum height of the table to 8 rows */
    display: block;
    border: 1px solid #ddd; /* Optional: Adds a border for better visibility */
    align-items: center;
    justify-content: center;
}





.group1 col {
    width: 5px; 
}


.group2 col, .group3 col, .group4 col, .group5 col, .group6 col, .group7 col, .group8 col {
    width: auto; 
}



#myChart {
    display: block;
    margin: auto; /* Center the canvas */
    width: 80%; /* Adjust the width to your preference */
    height: auto; /* This will maintain the aspect ratio */
    max-height: 600px; /* Optional: to ensure it doesn't get too tall */
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
    #myChart {
        width: 100%; /* Adjust the width to your preference */
    }
  }

.detail-row {
    display: none; /* Hide detail rows initially */
}

.detail-small-header {
    display: none; /* Hide detail headers initially */
}

.detail-header {
    display: none; /* Hide detail headers initially */
}

.summary-small-header {
    display: "";
}

.summary-row {
    display: "";
}


#expand-btn {
    font-size: 14px;
    /* Adjust the font size as needed */
    color: white;
    /* Text color */
    background-color: #6c757d;
    /* Background color */
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    padding: 5px 5px;
    cursor: pointer;
    /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}
