.leaderboard {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* Allows words to break and wrap to the next line */
    overflow-wrap: break-word; /* Ensures wrapping at break points */
}



.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
    width: 100%; /* Full width of the parent */
    max-width: 100%; /* Ensure the container does not exceed the width of the parent */
    max-height: 600px; /* Set the maximum height of the table to 8 rows */
    display: block;
    border: 1px solid #ddd; /* Optional: Adds a border for better visibility */
}


.leaderboard tbody tr:nth-child(1) {
    background-color: #fff176;
    /* Lightest yellow for rank 1 */
}

.leaderboard tbody tr:nth-child(2) {
    background-color: #fff59d;
    /* Medium yellow for rank 2 */
}

.leaderboard tbody tr:nth-child(3) {
    background-color: #fff9c4;
    /* Darker yellow for rank 3 */
}

/* coloring column for the summary table */
#summary-table td:nth-child(2) {
    background-color: #7efd7e;
}

#summary-table td:nth-child(4) {
    background-color: #d8787b;
}

#summary-table td:nth-child(5) {
    background-color: #8f8fff;
}

#summary-table td:nth-child(6) {
    background-color: #75f1ff;
}

#summary-table td:nth-child(7) {
    background-color: #88ffc4;
}

#summary-table td:nth-child(8) {
    background-color: #ffdf75;
}

/* coloring column for the detail table */
#detail-table td:nth-child(2) {
    background-color: #7efd7e;
}

#detail-table td:nth-child(4) {
    background-color: #d8787b;
}

#detail-table td:nth-child(5),
#detail-table td:nth-child(6),
#detail-table td:nth-child(7) {
    background-color: #8f8fff;
}

#detail-table td:nth-child(8),
#detail-table td:nth-child(9),
#detail-table td:nth-child(10),
#detail-table td:nth-child(11) {
    background-color: #75f1ff;
}

#detail-table td:nth-child(12),
#detail-table td:nth-child(13),
#detail-table td:nth-child(14),
#detail-table td:nth-child(15) {
    background-color: #88ffc4;
}

#detail-table td:nth-child(16) {
    background-color: #ffdf75;
}


#myChart {
    display: block;
    margin: auto; 
    width: 100%; 
    height: auto; /* This will maintain the aspect ratio */
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}


#expand-btn {
    font-size: 14px;
    /* Adjust the font size as needed */
    color: white;
    /* Text color */
    background-color: #6c757d;
    /* Background color */
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    padding: 5px 5px;
    cursor: pointer;
    /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

