#leaderboard {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard th,
#leaderboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    position: relative;
    /* Add relative positioning for the sticky effect */
}

#leaderboard tbody tr:nth-child(1) {
    background-color: #fff176;
    /* Lightest yellow for rank 1 */
}

#leaderboard tbody tr:nth-child(2) {
    background-color: #fff59d;
    /* Medium yellow for rank 2 */
}

#leaderboard tbody tr:nth-child(3) {
    background-color: #fff9c4;
    /* Darker yellow for rank 3 */
}

/* Fix the first three columns */
#leaderboard th:nth-child(1),
#leaderboard th:nth-child(2),
#leaderboard th:nth-child(3),
#leaderboard td:nth-child(1),
#leaderboard td:nth-child(2),
#leaderboard td:nth-child(3) {
    position: sticky;
    /* Use the same background color to cover content from other floating columns */
    background: #e5effc;
    z-index: 3;
}

#leaderboard td:nth-child(2) {
    background-color: #7efd7e;
}

#leaderboard td:nth-child(4) {
    background-color: #d8787b;
}

#leaderboard td:nth-child(5) {
    background-color: #8f8fff;
}

#leaderboard td:nth-child(6) {
    background-color: #75f1ff;
}

#leaderboard td:nth-child(7) {
    background-color: #88ffc4;
}

#leaderboard td:nth-child(8) {
    background-color: #ffdf75;
}

#leaderboard td:nth-child(9) {
    background-color: #d8787b;
}

#leaderboard td:nth-child(10),
#leaderboard td:nth-child(11),
#leaderboard td:nth-child(12) {
    background-color: #8f8fff;
}

#leaderboard td:nth-child(13),
#leaderboard td:nth-child(14),
#leaderboard td:nth-child(15),
#leaderboard td:nth-child(16) {
    background-color: #75f1ff;
}

#leaderboard td:nth-child(17),
#leaderboard td:nth-child(18),
#leaderboard td:nth-child(19),
#leaderboard td:nth-child(20) {
    background-color: #88ffc4;
}

#leaderboard td:nth-child(21) {
    background-color: #ffdf75;
}

/* Ensure the table uses the full width of its container */
table {
    table-layout: auto;
    border-collapse: collapse;
    width: auto;
    align-items: center;
    justify-content: center;
}

#leaderboard td,
#leaderboard th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th:not(.detail-header) {
    cursor: pointer;
}

.table-container {
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 100%;
    max-height: 600px;
    /* Set the maximum height of the table to 8 rows */
    display: block;
    border: 1px solid #ddd;
    /* Optional: Adds a border for better visibility */
    align-items: center;
    justify-content: center;
}

#myChart {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    /* This will maintain the aspect ratio */
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}

.detail-row {
    display: none;
    /* Hide detail rows initially */
}

.detail-small-header {
    display: none;
    /* Hide detail headers initially */
}

.detail-header {
    display: none;
    /* Hide detail headers initially */
}

.summary-small-header {
    display: "";
}

.summary-row {
    display: "";
}

#expand-btn {
    font-size: 14px;
    color: white;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}