#leaderboard {
    width: 100%;
    /* border-collapse: separate; */
}

/* #leaderboard th,
#leaderboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
} */


/* Ensure the table uses the full width of its container */
table {
    table-layout: auto;
    border-collapse: separate; 
    border-spacing: 0px;
    width: auto; /* Allows the table to expand naturally based on content */
    table-layout: auto; /* Default layout for the table */
    align-items: center;
    justify-content: center;
}



#leaderboard td, #leaderboard th {
    word-wrap: break-word; /* Allows words to break and wrap to the next line */
    overflow-wrap: break-word; /* Ensures wrapping at break points */
    padding: 8px; /* Adjust padding as needed */
    text-align: center; /* Keeps text centered, adjust as needed */
    border-right: 1.25px solid #ddd;
    border-bottom: 1.25px solid #ddd; 
}


th:not(.detail-header)  {
    cursor: pointer;
}



.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
    width: 100%; /* Full width of the parent */
    max-width: 100%; /* Ensure the container does not exceed the width of the parent */
    max-height: 600px; /* Set the maximum height of the table to 8 rows */
    display: block;
    border: 1.5px solid #ddd; /* Optional: Adds a border for better visibility */
    align-items: center;
    justify-content: center;
}





.group1 col {
    width: 5px; 
}


.group2 col, .group3 col, .group4 col, .group5 col, .group6 col, .group7 col, .group8 col {
    width: auto; 
}



#myChart {
    display: block;
    margin: auto; 
    width: 100%; 
    height: auto; /* This will maintain the aspect ratio */
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}


.detail-row {
    display: none; /* Hide detail rows initially */
}

.detail-small-header {
    display: none; /* Hide detail headers initially */
}

.detail-header {
    display: none; /* Hide detail headers initially */
}

.summary-small-header {
    display: "";
}

.summary-row {
    display: "";
}


#expand-btn {
    font-size: 14px;
    /* Adjust the font size as needed */
    color: white;
    /* Text color */
    background-color: #6c757d;
    /* Background color */
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    padding: 5px 5px;
    margin: 5px 5px;
    cursor: pointer;
    /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effect */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
}

/* Hover state */
#expand-btn:hover {
    background-color: #000000; /* Darker shade of blue on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}

#v1-btn, #v2-btn, #main-btn {
    font-size: 14px;
    /* Adjust the font size as needed */
    color: white;
    /* Text color */
    background-color: #6c757d;
    /* Background color */
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    padding: 5px 5px;
    margin: 5px 5px;
    cursor: pointer;
    /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effect */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
}

/* Hover state */
#v1-btn:hover, #v2-btn:hover, #main-btn:hover {
    background-color: #000000; /* Darker shade of blue on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}

thead {
  position: sticky;
  top: 0;
  background-color: #f1f8ff; /* Background for better visibility */
  background-clip: border-box;
  z-index: 100; /* Ensure the header stays above other content */
  margin: 0;
}

#leaderboard thead th{
    z-index: 100; /* Ensure the header stays above other content */
    /* border-bottom: 1px solid black;  */
    background-color: #f1f8ff; /* Background for better visibility */
}

/* Sticky left columns */
  #leaderboard tbody td:first-child,
  #leaderboard  thead .sticky-top-column,
  #leaderboard thead .sticky-second-column:first-child {
    position: sticky;
    left: 0;
    z-index: 30;
    background-color: #f1f8ff;
  }

  #leaderboard tbody td:nth-child(2),
  #leaderboard thead .sticky-second-column:nth-child(2) {
    position: sticky;
    left: 51px;
    z-index: 29;
  }

  tbody td:nth-child(3),
  #leaderboard thead .sticky-second-column:nth-child(3) {
    position: sticky;
    left: 115px;
    z-index: 28;
    background-color: #f1f8ff;
  }

tbody tr:nth-child(1) td:nth-child(3) {
  background-color: #fff176;
}

tbody tr:nth-child(2) td:nth-child(3) {
  background-color: #fff59d;
}

tbody tr:nth-child(3) td:nth-child(3) {
  background-color: #fff9c4;
}