#model_info_dashboard {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
}

#model_info_dashboard th,
#model_info_dashboard td {
    border: 1px solid #ddd;
    padding: 9px;
    text-align: center;
}

#model_info_dashboard tbody tr:nth-child(1),
#model_info_dashboard tbody tr:nth-child(2),
#model_info_dashboard tbody tr:nth-child(4),
#model_info_dashboard tbody tr:nth-child(5),
#model_info_dashboard tbody tr:nth-child(6),
#model_info_dashboard tbody tr:nth-child(7),
#model_info_dashboard tbody tr:nth-child(8),
#model_info_dashboard tbody tr:nth-child(9),
#model_info_dashboard tbody tr:nth-child(10),
#model_info_dashboard tbody tr:nth-child(13),
#model_info_dashboard tbody tr:nth-child(14){
    background-color: white;
    /* Lightest yellow for rank 1 */
}


#model_info_dashboard tbody tr:nth-child(4),
#model_info_dashboard tbody tr:nth-child(9),
#model_info_dashboard tbody tr:nth-child(11),
#model_info_dashboard tbody tr:nth-child(16),
#model_info_dashboard tbody tr:nth-child(17),
#model_info_dashboard tbody tr:nth-child(20),
#model_info_dashboard tbody tr:nth-child(21),
#model_info_dashboard tbody tr:nth-child(22),
#model_info_dashboard tbody tr:nth-child(23)
{
    background-color: #DFEBEB;
    /* Darker yellow for rank 3 */
}

/* #model_info_dashboard td:nth-child(2) {
    background-color: white;
} */

/* #model_info_dashboard td:nth-child(6),
#model_info_dashboard td:nth-child(7),
#model_info_dashboard td:nth-child(8),
#model_info_dashboard td:nth-child(9) {
    background-color: white;
}
#model_info_dashboard td:nth-child(10),
#model_info_dashboard td:nth-child(11),
#model_info_dashboard td:nth-child(12),
#model_info_dashboard td:nth-child(13) {
    background-color:white;
}
#model_info_dashboard td:nth-child(14) {
    background-color: white;
} */



/* Ensure the table uses the full width of its container */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; 
    width: auto; /* Allows the table to expand naturally based on content */
    border-collapse: collapse;
    table-layout: auto; /* Default layout for the table */

}



#model_info_dashboard td, #model_info_dashboard th {
    word-wrap: break-word; /* Allows words to break and wrap to the next line */
    overflow-wrap: break-word; /* Ensures wrapping at break points */
    padding: 8px; /* Adjust padding as needed */
    text-align: center; /* Keeps text centered, adjust as needed */
    border: 1px solid #ddd; 
}




.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
    width: auto; /* Full width of the parent */
    max-width: auto; /* Ensure the container does not exceed the width of the parent */
    max-height: 500px; /* Set the maximum height of the table to 8 rows */
    display: block;
    border: 1px solid #ddd; /* Optional: Adds a border for better visibility */
}





.group1 col {
    width: 5px; 
}


.group2 col, .group3 col, .group4 col, .group5 col, .group6 col, .group7 col, .group8 col {
    width: auto; 
}

