docker
uvicorn
fastapi
docopt==0.6.2
google_api_python_client==2.118.0
google_auth_oauthlib==1.2.0
halo==0.0.31
mysql-connector-python
openai==1.12.0
pandas==2.2.0
protobuf==4.25.3
pymysql==1.1.1
python-dotenv==1.0.1
Requests==2.31.0
simple-colors
cryptography
waitress==3.0.0
yarg==0.1.9
questionary==2.0.1